
<div class="container">

    <h1>Galeria</h1>

    <div class="row">
    
        <div class="col s12 m4">
            <img class="responsive-img" src="https://devwz.github.io/sistemasmultimidiafam/files/img-1.jpg">
        </div>

        <div class="col s12 m4">
            <video class="responsive-video" controls>
                <source src="https://youtu.be/BuFr393VWC4" type="video/mp4" />
            </video>
        </div>

        <div class="col s12 m4">
            <img class="responsive-img" src="https://devwz.github.io/sistemasmultimidiafam/files/img-6.jpg">
        </div>

    </div>

    <div class="row">
    
        <div class="col s12 m4">
            <img class="responsive-img" src="https://devwz.github.io/sistemasmultimidiafam/files/img-2.jpg">
        </div>

        <div class="col s12 m4">
            <img class="responsive-img" src="https://devwz.github.io/sistemasmultimidiafam/files/img-3.jpg">
        </div>

        <div class="col s12 m4">
            <video class="responsive-video" controls>
                <source src="https://youtu.be/3iBBaZItivw" type="video/mp4" />
            </video>
        </div>

    </div>

    <div class="row">
    
        <div class="col s12 m4">
            <img class="responsive-img" src="https://devwz.github.io/sistemasmultimidiafam/files/img-4.jpg">
        </div>

    </div>

</div>