
<div class="container">
    <h1>Multimédia</h1>
    <p>É o campo que se ocupa com a integração controlada por computador de texto, gráficos, imagens (estáticas e em movimento), animação, sons e quaisquer outros meios em que todo o tipo de informação possa ser representada, armazenada, transmitida e processada digitalmente.</p>
    <p><strong>Multi: </strong>originário da palavra latina <i>multus</i> que significa "numerosos". O uso deste prefixo não é recente e muitas palavras de origem latina empregam este radical, como <i>multiformis</i> (que tem várias formas) ou <i>multicolor</i> (várias cores).</p>
    <p><strong>Mídia: </strong>plural da palavra latina <i>medium</i> que significa meio, centro. Ele é derivado do adjetivo <i>medius</i>, que está no centro. No contexto de multimídia, este radical refere-se ao tipo de informação ou tipo de portador de informação, como dados alfanuméricos, imagens áudio, vídeo, etc.</p>
</div>