
<div class="container">

    <h1>Multimédia</h1>
    <p>É o campo que se ocupa com a integração controlada por computador de texto, gráficos, imagens (estáticas e em movimento), animação, sons e quaisquer outros meios em que todo o tipo de informação possa ser representada, armazenada, transmitida e processada digitalmente.</p>
    <p><strong>Multi: </strong>originário da palavra latina <i>multus</i> que significa "numerosos". O uso deste prefixo não é recente e muitas palavras de origem latina empregam este radical, como <i>multiformis</i> (que tem várias formas) ou <i>multicolor</i> (várias cores).</p>
    <p><strong>Mídia: </strong>plural da palavra latina <i>medium</i> que significa meio, centro. Ele é derivado do adjetivo <i>medius</i>, que está no centro. No contexto de multimídia, este radical refere-se ao tipo de informação ou tipo de portador de informação, como dados alfanuméricos, imagens áudio, vídeo, etc.</p>

</div>

<div class="container">
    <div class="row">

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="large material-icons">short_text</i></h2>
                <h5 class="center">Texto</h5>
                <p class="light">Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="large material-icons">graphic_eq</i></h2>
                <h5 class="center">Gráfico</h5>
                <p class="light">Gráfico é a tentativa de se expressar visualmente dados ou valores numéricos, de maneiras diferentes, assim facilitando a compreensão dos mesmos.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="large material-icons">photo</i></h2>
                <h5 class="center">Imagem</h5>
                <p class="light">Uma imagem digital é a representação de uma imagem bidimensional usando números binários codificados de modo a permitir seu armazenamento, transferência, impressão ou reprodução, e seu processamento por meios eletrônicos.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="large material-icons">ondemand_video</i></h2>
                <h5 class="center">Vídeo</h5>
                <p class="light">O vídeo é uma tecnologia de processamento de sinais eletrônicos, analógicos ou digitais, para capturar, armazenar e transmitir ou apresentar uma sucessão de imagens com impressão de movimento.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="large material-icons">photo</i></h2>
                <h5 class="center">Animação</h5>
                <p class="light">Animação refere-se ao processo segundo o qual cada fotograma de um filme é produzido individualmente, podendo ser gerado tanto por computação gráfica quanto fotografando uma imagem desenhada ou repetidamente fazendo-se pequenas mudanças a um modelo, fotografando o resultado.</p>
            </div>
        </div>

         <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="large material-icons">music_note</i></h2>
                <h5 class="center">Som</h5>
                <p class="light">Som é a propagação de uma frente de compressão mecânica ou onda mecânica; é uma onda longitudinal, que se propaga de forma circuncêntrica, apenas em meios materiais (que têm massa e elasticidade), como os sólidos, líquidos ou gasosos.</p>
            </div>
        </div>

    </div>
</div>